@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --animate-shake: shake 0.5s ease-in-out;
  --animate-exist: exist 0.3s ease both;
  --font-triad: Fascinate Inline, serif;
  --font-primary: Quicksand, serif;

  @keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(-5px);
    }
    40%, 80% {
        transform: translateX(5px);
    }
  }

  @keyframes exist {
    0% {
      opacity: 0;
      transform: scale(0%);
    }
    100% {
      opacity: 1;
      transform: scale(100%);
    }
  }
}

@layer base {
  .word {
    @apply uppercase font-bold bg-stone-200 rounded-lg p-2 h-24 text-base sm:text-lg cursor-pointer;
    @variant hover {
      @apply bg-stone-300 transition-colors duration-300;
    }
  }
  .word.selected {
    @apply text-white bg-stone-500;
  }
}